$light-bg: hsl(0, 0%, 100%);
$light-shadow: 2px 5px 25px -3px hsla(0, 0%, 71%, 0.25);
$border-radius: 20px;

$color-selected-text: hsla(215, 100%, 64%);
$color-context-text: hsl(0, 0%, 0%);
$color-main-text: hsl(221, 16%, 63%);